* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}
body {
	font-size: .13rem;
}
.section {
	display: none;
}
i, em , b, strong {
	display: inline-block;
	font-style: normal;
}
li {
	list-style: none;
}
.section a {
	color: #333;
	text-decoration: none;
}
#address {
	background: pink;
	height: 100%;
}
#rlist {
	background: #f4f4f4;
}
#search {
	background: yellow;
}
#detail {
	display: flex;
	flex-direction: column;
	height: 100%;
}