#rlist .header {
	height: 1.22rem;
	background-color: #0096ff;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: .2rem .28rem;
	color: #fff;
	padding-bottom: 0;
}
#rlist .header img {
	width: .27rem;
	height: .2rem;
}
#rlist .header a {
	color: #fff;
}
#rlist .place {
	display: flex;
	justify-content: space-between;
}
#rlist .weather {
	padding-right: .24rem;
	position: relative;
}
#rlist .weather {
	padding-right: .24rem;
	position: relative;
}
#rlist .weather p {
	position: relative;
	top: -.1rem;
}
#rlist .weather .temp {
	font-size: .18rem;
}
#rlist .weather .img-box {
	position: absolute;
	right: 0;
	top: -.1rem;
}
#rlist #food_kwd {
	height: .36rem;
	border-radius: .18rem;
	outline: none;
	text-align: center;
	color: #919191;
	border: none;
}
#rlist .hotword {
	white-space: nowrap;
    overflow-x: auto;
	overflow-y: hidden;
	margin-top: .1rem;
}
#rlist .hotword a{
	display: inline-block; 
	margin-right: .15rem;
}
#rlist .banner {
	height: 1.77rem;
	width: 100%;
	border-bottom: 1px solid #eee;
	background: #fff;
	position: relative;
}
/* 轮播图 */
.swipe{
    overflow: hidden;
    visibility: hidden;
    position:relative;
    height: 100%;
}
.swipe-wrap{
    overflow-x:hidden;
    position:relative;
    height: 100%;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    height: 100%;
    position:relative;
}
.swipe .item {
	height: 100%;
}
/* 小数点布局 */
#position{
   position: absolute;
   bottom: 0rem;
   left: 0;
   margin-top: 0.426667rem;
   margin-bottom: 0.213333rem;
   margin: 0;
   opacity: 0.4;
   width: 100%;
   filter: alpha(opacity=50);
   text-align: center;
}
 
#position li{
      width: .1rem;
      height: .1rem;
      margin: .1rem .1rem;
      display: inline-block;
      -webkit-border-radius: 50%;
      border-radius: 5px;
      background-color: #999;
}
#position li.cur{
    background-color: black;
}


#rlist .title {
	margin-top: .1rem;
	border-top: 1px solid #eee;
	height: .34rem;
	line-height: .34rem;
	padding-left: .15rem;
}
#rlist .recommend {
	
}
#rlist .template {
	display: flex;
	background: #fff;
	border-top: 1px solid #eee;
}
#rlist .template:first-of-type {
	display: none;
}
#rlist .shopLogo {
	width: .8rem;
	height: .9rem;
	padding: .15rem .1rem;
	box-sizing: border-box;
}
#rlist .shopLogo img {
	width: 100%;
	height: 100%;
}
#rlist .shopMain {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-right: .1rem;
	padding: .15rem .1rem;
}
#rlist .shopMain .sport {
	display: inline-block;
	font-size: .12rem;
    padding: .01rem .01rem;
    border-radius: 3px;
    box-sizing: border-box;
}
#rlist .shopMain .trans {
	background-color: #2395ff;
    color: #fff;
}
#rlist .shopMain .ontime {
	border: 1px solid #2395ff;
    color: #2395ff;
}
#rlist .supportWrap i {
	font-size: .1rem;
    line-height: .14rem;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #eee;
    border-radius: .04rem;
    color: #999;
    margin-left: .04rem;
}
#rlist .score {
	color: #ff6000;
	margin: 0 .04rem;
}
#rlist .shopName {
	width: 1.875rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#rlist .isPremium:before {
	margin-right: .02rem;
    padding: 0.01rem;
    height: .14rem;
    width: .27rem;
    border-radius: .01rem;
    background-color: #ffd930;
    color: #52250a;
    content: "\54C1\724C";
    vertical-align: top;
    text-align: center;
    font-weight: 700;
    font-size: .1rem;
    line-height: .14rem;
   /*  position: relative; */
}
#rlist .line {
	display: flex;
	justify-content: space-between;
}
#rlist .lineone, #rlist .linetwo {
	margin-bottom: .045rem;
}
.recommend:after{
	content: '正在加载更多商家...';
	display: 'block';
	height: 40px;
	background: orange;
	color: black; 
	line-height: 40px;
	text-align: center;
}
.noDate .recommend:after{
	content: '没有更多商家了...';
}